
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg: 0 0% 100%;
  --content: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-content: 0 0% 98%;
  --muted: 240 4.8% 95.9%;
}

.dark {
  --bkg: 240 10% 3.9%;
  --content: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-content: 240 5.9% 10%;
  --muted: 240 3.7% 15.9%;
}

body {
  @apply bg-bkg text-content;
  color-scheme: light dark;
}
