
body {
  font-family: 'Inter', sans-serif;
  background-color: #181a1f; /* --vscode-bg-deep */
  color: #d9e1f0; /* --vscode-text */
}

/* Custom scrollbar for a more integrated look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #181a1f; /* --vscode-bg-deep */
}
::-webkit-scrollbar-thumb {
  background-color: #363b46; /* --vscode-border */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #282c34; /* --vscode-bg-light */
}
